{% extends "base.html" %}

{% block title %}Lista de Turnos{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}


{% block main %}
<h2 class="title">Turnos</h2>
<table class="table">
	<tr class="table-header-row">
		<th>Id</th>
		<th>Fecha turno</th>
		<th>Hora turno</th>
		<th>Paciente</th>
		<th>Teléfono</th>
		<th>Email</th>
		<!-- <th>Ficha</th>
		<th>Editar</th>
		<th>Eliminar</th> -->
		<th></th>
		<th></th>
		<th></th>
	</tr>
	{% for turno in turnos %}		
		<tr>
			<th> {{ turno.id }}</th>
			<td> {{ turno.fecha_turno }}</td>
			<td> {{ turno.horario_turno }}</td>
			<td> {{ turno.nombre }}</td>
			<td> {{ turno.telefono }}</td>
			<td> {{ turno.email }}</td>
			<td ><a class="btn btn-green" href="/turnos/get/{{turno.id}}">Ver</a></td>
			<td><a class="btn btn-blue" href="/turnos/editar/{{turno.id}}">Editar</a></td>
			<td><a class="btn btn-red" href="/turnos/eliminar/{{turno.id}}">Eliminar</a></td>
<!--			<form action="/turnos/show" method="POST">-->
<!--				<td> <input type="submit" value="{{turno.id}}" id="{{turno.id}}" name="Ficha"></td>-->
<!--			</form>-->
		</tr>	
	{% else %}
		<span>No hay turnos registradas</span>
	{% endfor %}	
</table>	
{% endblock %}