{% extends "base.html" %}

{% block title %}Nuevo Turno{% endblock %}


{% block main %}
  <h1>Formulario Medico</h1>
  {% if error != "" %}
    <p>Campos con errores: {{ error }}</p>
  {% endif %}
  <form action="/turnos/guardar" method="post" name="formulario" enctype="multipart/form-data">
      <h3>Datos del Paciente</h3>
        <p>
        <label class="required" for="nombre">Nombre: </label>
        <input name="nombre" id="nombre" type="text" required="required" maxlength=30 value="{{turno.nombre}}" />
        </p>

        <p>
        <label class="required" for="email" >Email: </label>
        <input name="email" id="email" type="email" required="required"  value="{{turno.email}}"/>
        </p>

        <p>
        <label class="required" for="telefono" >Teléfono: </label>
        <input name="telefono" id="telefono" type="tel" required="required"value="{{turno.telefono}}"/>
        </p>


        <p>
        <label for="edad" >Edad: </label>
        <input name="edad" id="edad" type="number" min=0 max=130 value="{{turno.edad}}">
        </p>

        <p>
        <label for="talla-calzado" >Nro Calzado: </label>
        <input name="talla-calzado" id="talla-calzado" type="number" min=20 max=45  value="{{turno.talla_calzado}}">
        </p>

        <p>
        <label for="altura" >Altura: </label>
        <input name="altura" type="range"  id="altura" min="100" max="230"  value="{{turno.altura}}">
        </p>

        <p>
        <label class="required" for="fecha-nacimiento">Fecha de nacimiento: </label>
        <input name="fecha-nacimiento" type="date" id="fecha-nacimiento" required="required"  value="{{turno.fecha_nacimiento}}">
        </p>

        <p>
        <label for="color-pelo" >Color de pelo: </label>
        <select name="color-pelo" id="color-pelo">
          {% for colorPelo in coloresPelo %}
          <option {% if (turno.color_pelo == colorPelo) %} selected="selected" {% endif %} value="{{colorPelo}}">{{colorPelo}}</option>
          {% endfor%}
        </select>
        </p>
      
      <h3>Datos del Turno</h3>

        <p>
        <label class="required" for="fecha-turno">Dia Turno: </label>
        <input name="fecha-turno" id="fecha-turno" type="date" required="required" value="{{turno.fecha_turno}}">
        </p>

        <p>
        <label class="required" for="horario-turno" > Hora turno: </label>
        <input name="horario-turno" id="horario-turno" type="time" required="required" step="900" value="{{turno.horario_turno}}">
        </p>

        <p>
        <label for="diagnostico"> Diagnóstico: </label>
        <input name="diagnostico" type="file" id="diagnostico" accept="image/jpeg, image/x-png" value="{{turno.diagnostico}}">
        </p>
      
      <input  class="controls" type="submit" value="Enviar" name="submit">
      <input  class="controls" type="reset" value="Borrar Campos">
  </form>
{% endblock %}