{% extends 'base.html' %}

{% block title %}Ficha de Turno{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block main %}

<section class="informaciónTurno">
    <div>
        <label for="fecha"><strong>Fecha Turno:</strong></label>
        <input type="date" name="fecha" value="{{ turno.appt_date}}" readonly="{{edit}}">
    </div>
    <div>
        <label for="horario"><strong>Horario Turno:</strong> </label>
        <input type="time" name="fecha" value="{{ turno.appt_time}}" readonly="{{edit}}">
    </div>
  </section>
 
 <section class="informaciónPaciente">
    <div>
        <label for="nombre"><strong>Nombre:</strong></label>
        <input type="text" name="fecha" value="{{ turno.fullname}}" readonly="{{edit}}">
    </div>
    <div>
         <label for="email"><strong>Email:</strong></label>
         <input type="email" name="fecha" value="{{ turno.email}}" readonly="{{edit}}">
    </div>
    <div>
        <label for="telefono"><strong>Teléfono:</strong>  </label>
        <input type="tel" name="fecha" value="{{ turno.tel}}" readonly="{{edit}}">
    </div>
    <div>
        <label for="edad"><strong>Edad:</strong> </label>
        <input type="num" name="fecha" value="{{ turno.age}}" readonly="{{edit}}">
    </div>
    <div>
        <label for="nac"><strong>Fecha nacimiento:</strong> </label>
        <input type="date" name="fecha" value="{{turno.birthdate}}" readonly="{{edit}}">
    </div>
    <div>
        <label for="pies"><strong>Pies:</strong></label>
        <input type="num" name="fecha" value="{{ turno.shoe_size}}" readonly="{{edit}}">
    </div>
    <div>
        <label for="altura"><strong>Altura:</strong></label>
        <input type="num" name="fecha" value="{{ turno.height}}" readonly="{{edit}}">
    </div>
    <div>
        <label for="pelo"><strong>Pelo:</strong></label>
        <input type="text" name="fecha" value="{{ turno.hair_color}}" readonly="{{edit}}">
    </div>    
</section>  

{% endblock %}