{% extends "base.html" %}

{% block title %}Sacar turno{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block main %}

<h1>Sacar turno</h1>

<form action="/turnos/guardar" method="POST">
    <label for="fullname">Nombre:</label>
    <input type="text" name="fullname" id="fullname" required>
    <br><br> 
    
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>
    <br><br>
    
    <label for="telephone">Telefono:</label>
    <input type="tel" name="telephone" id="telephone" required>
    <br><br>
    
    <label for="age">Edad:</label>
    <input type="number" name="age" id="age" min="0">
    <br><br> 
    
    <label for="shoeSize">Nro Calzado:</label>
    <input type="number" name="shoeSize" id="shoeSize" min="20" max="45">
    <br><br> 
    
    <label for="height">Altura:</label>
    <input type="range" name="height" id="height" min="100" max="230">
    <br><br> 
    
    <label for="birthdate">Fecha de nacimiento:</label>
    <input type="date" name="birthdate" id="birthdate" required>
    <br><br> 
    
    <label for="hairColor">Color de pelo:</label>
    <select name="hairColor" id="hairColor">
        <option value="Morocho">Morocho</option>
        <option value="Rubio">Rubio</option>
        <option value="Pelirrojo">Pelirrojo</option>
        <option value="Castano">Castano</option>            
        <option value="Pelado">Pelado</option>
    </select>
    <br><br> 
    
    <label for="apptDate">Dia turno:</label>
    <input type="date" name="apptDate" id="apptDate" required>

    <label for="apptTime">Hora turno:</label>
    <input 
        type="time" 
        name="apptTime" 
        id="apptTime" 
        min="08:00"
        max="17:00"
        step="900"
        required>
    <br><br> 
    
    <input type="reset" name="reset" id="reset" value="Borrar campos">
    
    <input type="submit" name="submit" id="submit" value="Enviar">
</form>
{% endblock %}