{% extends 'base.html' %}

{% block title %}Ficha de Turno{% endblock %}

{% block header %}
    {{ include('partials/nav.html') }}
{% endblock %}

{% block main %}

<section class="informaciónTurno">
    <div>
        <label for="fecha"><b>Fecha Turno:</b> {{ turno.appt_date}} </label>
    </div>
    <div>
        <label for="horario"><b>Horario Turno:</b> {{ turno.appt_time }} </label>
    </div>
  </section>
 
 <section class="informaciónPaciente">
    <div>
        <label for="nombre"><b>Nombre:</b> {{ turno.fullname}} </label>
    </div>
    <div>
         <label for="email"><b>Email:</b> {{ turno.email}} </label>
    </div>
    <div>
        <label for="telefono"><b>Teléfono:</b> {{ turno.tel}} </label>
    </div>
    <div>
        <label for="edad"><b>Edad:</b> {{ turno.age}} </label>
    </div>
    <div>
        <label for="nac"><b>Fecha nacimiento:</b> {{ turno.birthdate}} </label>
    </div>
    <div>
        <label for="pies"><b>Pies:</b> {{ turno.shoe_size}} </label>
    </div>
    <div>
        <label for="altura"><b>Altura:</b> {{ turno.height}} </label>
    </div>
    <div>
        <label for="pelo"><b>Pelo:</b> {{ turno.hair_color}} </label>
    </div>    
</section>  

{% endblock %}